In [1]:
import pandas as pd
import os
import numpy as np

# funciones desarrolladas
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *

In [2]:
censo = cargar_censo()
censo.head()

,DPTO,LOC,SECC,SEGM,VIVID,TIPO_VIVIE,HOGCOD,HOGID,PERPH02,PERPA01,...,PERED02_4,PERED03_R,PERED03_1,PERED03_2,PERED04_R,PERED05_R,PERED06_R,CODIGO_CAR,PERED08,NIVELEDU_R
0,1,20,1,1,3,1,102001001000301,1,2,11,...,0,0,4,0,1,3,0,22101,1,4
1,1,20,1,1,3,1,102001001000301,1,2,1,...,0,0,2,0,2,2,0,11101,2,2
2,1,20,1,1,3,1,102001001000301,1,1,13,...,0,0,4,0,2,0,0,22101,1,4
3,1,20,1,1,3,1,102001001000301,1,2,12,...,0,0,0,0,0,0,0,101,0,0
4,1,20,1,1,5,1,102001001000501,1,2,1,...,0,11,0,0,0,5,4,55138,1,9

In [9]:
censo_plus5 = censo.loc[censo.PERNA01 >= 5, ['DPTO', 'LOC']]
censo_plus5.head()

   DPTO  LOC
0     1   20
1     1   20
2     1   20
4     1   20
5     1   20

In [12]:
def recuperar_poblacion_2011_5años():
    "Recupera DF con cantidad de habitantes de 5 años y más por departamento según censo 2011"
    depid = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
    poblacion = [1236133,
                 67863,
                 484060,
                 78717,
                 115155,
                 53162,
                 23449,
                 62665,
                 55247,
                 153019,
                 104855,
                 50375,
                 95688,
                 63563,
                 115058,
                 100827,
                 76894,
                 83814,
                 44939]
    data_tuples = list(zip(depid, poblacion))
    return pd.DataFrame(data_tuples, columns=['DPTO','poblacion'])

In [15]:
pob5 = recuperar_poblacion_2011_5años().poblacion

In [18]:
pob = recuperar_poblacion_2011().poblacion

In [22]:
pob - pob5

0     82622
1      5514
2     36113
3      5981
4      8048
5      3922
6      1601
7      4382
8      3568
9     11279
10     8252
11     4390
12     7785
13     4525
14     9803
15     7477
16     5700
17     6237
18     3195
Name: poblacion, dtype: int64