## data wrangling
Carga censo y filtra solo migrantes internos, luego guarda comprimido

In [1]:
import pandas as pd
import os
import numpy as np

# funciones desarrolladas
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *

In [2]:
# carga censo
censo = cargar_censo()

p_migr = filter_df_censo(censo)
p_migr.shape[0]

148759

In [6]:
# guarda
p_migr.to_csv('tablas/censo_2011_migrantes_internos.gz',
               index=False,
               compression="gzip")

    DPTO  poblacion
0      1    1318755
1      2      73377
2      3     520173
3      4      84698
4      5     123203
5      6      57084
6      7      25050
7      8      67047
8      9      58815
9     10     164298
10    11     113107
11    12      54765
12    13     103473
13    14      68088
14    15     124861
15    16     108304
16    17      82594
17    18      90051
18    19      48134