In [28]:
import pandas as pd
import geopandas as gpd
import numpy as np

from shapely import wkt
from shapely.geometry import shape, LineString, Point
from IPython.display import Markdown, display
    
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *

In [31]:
pbi = cargar_pbi()
pbi.head()

   DPTO  miles_de_pesos porcentaje_pbi
0     2        14214980            1,5
1     3        86306492            9,3
2     4        17048887            1,8
3     5        43788749            4,7
4     6        13023942            1,4

In [32]:
md = cargar_matriz_distancias()
md.head()

   cod_ori  cod_des  cod  distancia
0        1        2  102     610726
1        1        3  103      22544
2        1        4  104     393703
3        1        5  105     172773
4        1        6  106     198970

In [34]:
vecindad = cargar_vecindad()
vecindad.head()

   cod  largo_limite
0  103         60107
1  116          5400
2  215        197272
3  413         64044
4  516         67607

In [35]:
deptos, deptos_sim, localidad, centro_pobl, capital = cargar_datos_geo()

/home/guillermo/anaconda3/envs/tesis/lib/python3.9/site-packages/geopandas/geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst: