In [1]:
import pandas as pd
import geopandas as gpd
import os
import matplotlib.pyplot as plt
import pylab as pl
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import tabulate
from operator import add

from shapely import wkt
from shapely.geometry import shape, LineString, Point
    
# funciones desarrolladas
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *
from functions.impresion import *

In [2]:
pmigr = cargar_migrantes_internos()

In [3]:
pmigr.head()

,depto_origen,depto_destino,LOC,SECC,SEGM,VIVID,TIPO_VIVIE,HOGCOD,HOGID,PERPH02,...,PERED03_1,PERED03_2,PERED04_R,PERED05_R,PERED06_R,CODIGO_CAR,PERED08,NIVELEDU_R,loc_origen,loc_destino
0,3,1,20,1,1,5,1,102001001000501,1,1,...,11,0,2,3,4,55131,1,9,3732,1020
1,17,1,20,1,1,30,1,102001001003001,1,2,...,0,0,0,2,4,55152,1,9,17220,1020
2,18,1,20,1,1,36,1,102001001003601,1,1,...,6,0,2,2,0,33101,1,5,18220,1020
3,2,1,20,1,1,46,1,102001001004601,1,1,...,6,0,2,1,0,33101,1,5,2220,1020
4,12,1,20,1,1,93,1,102001001009301,1,2,...,4,0,2,1,0,22101,1,4,12320,1020

In [4]:
mig_loc  = pmigr.groupby(['loc_origen','loc_destino']).size().to_frame('personas_mig').reset_index()

In [5]:
poblacion = pd.read_csv('tablas/localidades_censales_2011.csv', usecols=['codloc','poblacion'])

In [6]:
poblacion.head()

   codloc  poblacion
0    1020    1304729
1    2220      40657
2    2521      12200
3    2522       2659
4    2621       2531

In [7]:
dd_loc = mig_loc.merge(poblacion, left_on='loc_origen', right_on='codloc')
dd_loc = dd_loc.merge(poblacion, left_on='loc_destino', right_on='codloc')

dd_loc.drop(['codloc_x', 'codloc_y'], inplace=True, axis=1)
dd_loc.rename({'poblacion_x':'pobl_origen', 'poblacion_y':'pobl_destino'}, inplace=True, axis=1)

dd_loc.head()

   loc_origen  loc_destino  personas_mig  pobl_origen  pobl_destino
0        1020         2220           635      1304729         40657
1        3221         2220             5        71258         40657
2        3320         2220            10        19865         40657
3        3321         2220             1        20524         40657
4        3322         2220             1        25947         40657

In [8]:
dd_loc.to_csv('tablas/dd_localidades.csv', index=False)