## Escenarios de migración interna

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# funciones desarrolladas
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *
from functions.impresion import *

In [2]:
prodSim = sm.load('modelos/restringido_origen_mvo.pickle')
prodSim

AttributeError: Can't get attribute 'new_block' on <module 'pandas.core.internals.blocks' from 'C:\\Users\\user\\anaconda3\\envs\\tesis\\lib\\site-packages\\pandas\\core\\internals\\blocks.py'>

In [3]:
# carga datos diádicos
dd_deptos = cargar_dd_deptos()
print(dd_deptos.shape)
dd_deptos.head(2)

(342, 28)

,cod,depto_origen,depto_destino,personas_mig,personas_mig_18_25,personas_mig_26_35,personas_mig_100k,pob_origen,pob_destino,dist,...,dummy_limit,empresas_origen,empresas_destino,menores_25_origen,menores_25_destino,log_pbi_destino,log_dist,nom_depto_orig,nom_depto_des,largo_limite_km
0,102,1,2,914,114,247,891,1318755,73377,610726,...,False,3124,55,456072,30880,16.469807,13.322404,MONTEVIDEO,ARTIGAS,1.000000e-07
1,103,1,3,33127,3757,7904,0,1318755,520173,22544,...,True,3124,563,456072,197993,18.273415,10.023224,MONTEVIDEO,CANELONES,6.010700e+01

In [4]:
pbi = recuperar_crecimiento_pbi()
pbi

    año  pbi_porc
0  2015      0.37
1  2016      1.69
2  2017      1.63
3  2018      0.48
4  2019      0.35
5  2020     -6.00
6  2021      2.00

In [5]:
crecimiento_acum = round(pbi.pbi_porc.sum(), 3)
print('Crecimiento acumulado del PBI entre 2015 y 2021: ', crecimiento_acum)

Crecimiento acumulado del PBI entre 2015 y 2021:  0.52

In [6]:
pbi.pbi_porc.values

array([ 0.37,  1.69,  1.63,  0.48,  0.35, -6.  ,  2.  ])

In [10]:
g = pbi.pbi_porc.values/100
g

array([ 0.0037,  0.0169,  0.0163,  0.0048,  0.0035, -0.06  ,  0.02  ])

In [11]:
def calc_pbi(series, pbi_porc):
    "Estima PBI en base a crecimiento anual reportado"
    _2015 = series + (series * pbi_porc[0])
    _2016 = _2015 + (_2015 * pbi_porc[1])
    _2017 = _2016 + (_2016 * pbi_porc[2])
    _2018 = _2017 + (_2017 * pbi_porc[3])
    _2019 = _2018 + (_2018 * pbi_porc[4])
    _2020 = _2019 + (_2019 * pbi_porc[5])
    _2021 = _2020 + (_2020 * pbi_porc[6])

    return round(_2021).astype(int)

In [21]:
pbi_dest = dd_deptos.drop_duplicates('depto_destino')
pbi_dest = pbi_dest.loc[:, ['depto_destino', 'pbi_destino']]
pbi_dest.head()

   depto_destino  pbi_destino
0              2     14214980
1              3     86306492
2              4     17048887
3              5     43788749
4              6     13023942

In [24]:
# proyecta PBI
pbi_dest['pbi_destino_2021'] = calc_pbi(pbi_dest.pbi_destino, g)
pbi_dest.tail()

    depto_destino  pbi_destino  pbi_destino_2021
14             16     26930981          27007308
15             17     22993631          23058799
16             18     18093592          18144872
17             19     11720592          11753810
18              1    465848031         467168326

In [26]:
pbi_dest.drop('pbi_destino', inplace=True, axis=1)

In [27]:
pbi_dest.to_csv('tablas/pbi_2021.csv', index=False)

In [51]:
pred = prodSim.get_prediction(dd_deptos)

In [52]:
dd_deptos['prodsimest'] = pred.summary_frame()['mean'].round(0).astype(int)

In [53]:
# matriz de los valores estimados
pd.pivot_table(dd_deptos,
values='prodsimest',
index ='depto_origen',
columns='depto_destino',
fill_value=0,
aggfunc=sum,
margins=True,
margins_name='Total')

depto_destino,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,Total
depto_origen,,,,,,,,,,,,,,,,,,,,
1,0,1047,18793,1514,2627,2008,1974,2432,2277,2991,1699,1808,1315,1914,1394,9663,1969,1611,1729,58765
2,2270,0,142,116,111,106,101,95,86,100,147,128,174,83,1072,96,114,149,99,5189
3,14286,50,0,74,120,95,94,527,441,529,81,85,63,93,66,499,93,77,84,17357
4,1783,63,114,0,71,346,66,73,80,95,65,60,357,83,67,68,61,387,639,4478
5,2415,47,145,55,0,83,312,87,74,94,85,94,55,63,69,436,533,68,59,4774
6,1485,36,93,217,67,0,279,362,54,64,54,259,45,47,46,61,58,356,187,3770
7,658,15,41,19,113,126,0,108,22,27,26,92,19,19,21,122,134,23,20,1605
8,1702,31,485,43,66,343,226,0,286,73,48,49,39,50,40,288,52,47,191,4059
9,1488,26,379,44,53,48,43,267,0,405,37,38,33,228,31,55,41,39,252,3507
10,2949,45,686,79,101,85,80,102,612,0,69,71,58,515,57,105,77,68,90,5849
11,2012,80,126,66,109,86,92,82,68,83,0,764,79,57,727,88,111,420,62,5112
12,1280,42,79,36,72,248,194,50,41,51,456,0,43,35,61,56,420,194,37,3395
13,1926,118,120,444,88,89,82,81,74,86,98,90,0,75,396,81,80,798,90,4816
14,1672,33,106,61,59,55,49,62,305,456,42,43,45,0,36,62,46,48,297,3477
15,1908,677,119,78,103,85,87,78,64,79,840,118,370,57,0,84,105,446,68,5366
16,3234,15,220,19,159,28,122,138,28,36,25,26,19,24,20,0,29,23,22,4187
17,2070,55,128,54,609,82,424,78,66,82,98,623,58,55,81,90,0,70,58,4781
18,1935,83,121,395,89,578,83,81,72,83,426,330,655,66,392,81,80,0,76,5626
19,1284,34,82,403,47,188,44,203,286,68,39,39,46,253,37,49,41,47,0,3190
Total,46357,2497,21979,3717,4664,4679,4352,4906,4936,5402,4335,4717,3473,3717,4613,11984,4044,4871,4060,149303