## Escenarios de migración interna

In [5]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# funciones desarrolladas
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *
from functions.impresion import *

In [6]:
prodSim = sm.load('modelos/restringido_origen_mvo.pickle')
prodSim

In [7]:
# carga datos diádicos
dd_deptos = dd_deptos = cargar_dd_deptos()
print(dd_deptos.shape)
dd_deptos.head(2)

(342, 23)

,cod,depto_origen,depto_destino,personas_mig,personas_mig_100k,pob_origen,pob_destino,dist,pbi_origen,pbi_porcen_ori,...,dummy_limit,empresas_origen,empresas_destino,log_pbi_destino,log_dist,nom_depto_orig,nom_depto_des,dist_km,pbi_destino_millardos,largo_limite_km
0,102,1,2,914,891,1318755,73377,610726,465848031,50.3,...,False,3124,55,16.469807,13.322404,MONTEVIDEO,ARTIGAS,610.726,142.14980,1.000000e-07
1,103,1,3,33127,0,1318755,520173,22544,465848031,50.3,...,True,3124,563,18.273415,10.023224,MONTEVIDEO,CANELONES,22.544,863.06492,6.010700e+01

In [8]:
dd_deptos['pbi_destino_millardos'] = dd_deptos['pbi_destino_millardos']*1.05
dd_deptos.head(2)

,cod,depto_origen,depto_destino,personas_mig,personas_mig_100k,pob_origen,pob_destino,dist,pbi_origen,pbi_porcen_ori,...,dummy_limit,empresas_origen,empresas_destino,log_pbi_destino,log_dist,nom_depto_orig,nom_depto_des,dist_km,pbi_destino_millardos,largo_limite_km
0,102,1,2,914,891,1318755,73377,610726,465848031,50.3,...,False,3124,55,16.469807,13.322404,MONTEVIDEO,ARTIGAS,610.726,149.257290,1.000000e-07
1,103,1,3,33127,0,1318755,520173,22544,465848031,50.3,...,True,3124,563,18.273415,10.023224,MONTEVIDEO,CANELONES,22.544,906.218166,6.010700e+01

In [9]:
pred = prodSim.get_prediction(dd_deptos)

In [10]:
dd_deptos['prodsimest'] = pred.summary_frame()['mean'].round(0).astype(int)

In [11]:
# matriz de los valores estimados
pd.pivot_table(dd_deptos,
values='prodsimest',
index ='depto_origen',
columns='depto_destino',
fill_value=0,
aggfunc=sum,
margins=True,
margins_name='Total')

depto_destino,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,Total
depto_origen,,,,,,,,,,,,,,,,,,,,
1,0,1052,19308,1523,2668,2019,1983,2446,2284,3055,1712,1828,1325,1919,1400,9751,1987,1622,1732,59614
2,2668,0,146,117,113,106,101,96,86,102,149,129,176,83,1078,97,115,150,100,5612
3,16805,50,0,74,122,96,94,529,442,540,81,86,63,93,67,504,93,77,84,19900
4,2097,64,117,0,72,347,66,73,80,97,66,60,360,83,67,69,62,390,640,4810
5,2842,48,149,56,0,83,313,87,75,96,85,95,56,63,70,439,537,68,59,5221
6,1747,36,95,218,68,0,281,364,54,65,54,262,45,47,46,62,58,358,187,4047
7,774,16,42,19,115,126,0,108,22,28,26,93,19,19,21,123,135,23,20,1729
8,2002,31,498,44,67,344,227,0,287,74,49,49,39,50,40,291,52,48,191,4383
9,1750,26,389,45,54,48,44,269,0,413,38,38,33,229,31,56,41,39,252,3795
10,3469,46,704,80,102,85,80,103,613,0,69,72,58,516,57,106,78,69,91,6398
11,2365,81,129,66,111,87,93,82,68,84,0,773,80,57,731,89,112,423,62,5493
12,1505,42,81,36,73,249,195,50,41,52,460,0,44,35,61,56,424,196,37,3637
13,2263,119,124,447,90,90,83,81,74,88,99,91,0,75,398,82,81,804,90,5179
14,1966,34,109,62,60,56,49,62,306,466,42,43,45,0,37,63,46,49,298,3793
15,2243,681,122,78,105,86,88,78,64,80,848,119,373,57,0,84,106,450,68,5730
16,3803,15,226,20,161,28,123,138,28,37,25,27,19,24,21,0,29,23,22,4769
17,2434,55,131,55,618,82,425,78,66,84,99,631,58,55,81,91,0,70,58,5171
18,2277,83,124,397,90,581,83,82,72,85,430,334,660,67,394,82,81,0,76,5998
19,1510,34,84,405,48,188,44,204,287,70,39,39,46,253,37,49,41,47,0,3425
Total,54520,2513,22578,3742,4737,4701,4372,4930,4949,5516,4371,4769,3499,3725,4637,12094,4078,4906,4067,158704