## Escenarios de migración interna

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# funciones desarrolladas
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *
from functions.impresion import *

In [2]:
prodSim = sm.load('modelos/restringido_origen__siMVO_v1.pkl')
prodSim

In [3]:
# carga datos diádicos
dd_deptos = pd.read_csv('tablas/dd_deptos.csv')
dd_deptos.loc[dd_deptos.largo_limite.isna(), 'largo_limite'] = 0.0001
print(dd_deptos.shape)
dd_deptos.head(2)

(342, 20)

,cod,depto_origen,depto_destino,personas_mig,personas_mig_100k,pob_origen,pob_destino,dist,pbi_origen,pbi_porcen_ori,pbi_destino,pbi_porcen_des,largo_limite,dummy_limit,empresas_origen,empresas_destino,log_pbi_destino,log_dist,nom_depto_orig,nom_depto_des
0,102,1,2,914,891,1318755,73377,610726,465848031,50.3,14214980,1.5,0.0001,False,3124,55,16.469807,13.322404,MONTEVIDEO,ARTIGAS
1,103,1,3,33127,0,1318755,520173,22544,465848031,50.3,86306492,9.3,60107.0000,True,3124,563,18.273415,10.023224,MONTEVIDEO,CANELONES

In [4]:
dd_deptos['log_pbi_destino'] = dd_deptos['log_pbi_destino']*1.005
dd_deptos.head(2)

,cod,depto_origen,depto_destino,personas_mig,personas_mig_100k,pob_origen,pob_destino,dist,pbi_origen,pbi_porcen_ori,pbi_destino,pbi_porcen_des,largo_limite,dummy_limit,empresas_origen,empresas_destino,log_pbi_destino,log_dist,nom_depto_orig,nom_depto_des
0,102,1,2,914,891,1318755,73377,610726,465848031,50.3,14214980,1.5,0.0001,False,3124,55,16.552156,13.322404,MONTEVIDEO,ARTIGAS
1,103,1,3,33127,0,1318755,520173,22544,465848031,50.3,86306492,9.3,60107.0000,True,3124,563,18.364782,10.023224,MONTEVIDEO,CANELONES

In [5]:
pred = prodSim.get_prediction(dd_deptos)

In [6]:
dd_deptos['prodsimest'] = pred.summary_frame()['mean'].round(0).astype(int)

In [7]:
# matriz de los valores estimados
pd.pivot_table(dd_deptos,
values='prodsimest',
index ='depto_origen',
columns='depto_destino',
fill_value=0,
aggfunc=sum,
margins=True,
margins_name='Total')

depto_destino,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,Total
depto_origen,,,,,,,,,,,,,,,,,,,,
1,0,823,35290,1104,3859,899,453,1463,1193,4901,1911,1747,1298,1233,1718,3779,1695,1202,743,65311
2,2520,0,571,94,270,67,33,94,79,315,169,145,134,90,742,152,132,109,58,5774
3,14983,79,0,107,364,87,44,494,337,1094,184,168,125,120,165,673,163,116,72,19375
4,2095,58,479,0,214,190,27,79,70,274,122,107,296,81,116,124,101,297,254,4984
5,2445,56,544,71,0,60,38,87,70,282,136,129,87,76,120,481,506,81,47,5316
6,1663,40,379,186,175,0,84,275,52,201,95,309,65,56,85,102,83,273,76,4199
7,723,17,165,22,95,72,0,81,22,85,43,47,27,23,37,145,140,26,15,1785
8,1604,34,1275,45,151,163,56,0,175,186,79,71,53,49,70,304,68,50,84,4517
9,1296,28,861,40,120,30,15,173,0,698,63,57,44,144,57,74,55,41,104,3900
10,2820,59,1482,83,256,62,31,98,371,0,134,121,93,363,121,156,116,85,57,6508
11,2205,64,501,74,248,59,31,83,67,269,0,656,95,74,646,136,128,307,47,5690
12,1446,39,327,47,169,138,24,53,43,174,470,0,59,48,88,90,387,146,30,3778
13,2275,77,516,274,241,61,30,85,72,284,144,126,0,83,330,138,115,459,54,5364
14,1564,37,359,54,152,38,18,57,169,800,82,73,60,0,75,91,70,54,120,3873
15,2347,331,532,83,259,63,32,88,72,288,765,145,257,81,0,143,129,309,52,5976
16,2284,30,958,39,459,33,55,168,41,164,71,65,47,43,64,0,64,44,26,4655
17,2044,52,463,64,963,54,106,75,61,243,134,564,79,66,114,128,0,73,42,5325
18,2264,67,514,295,240,278,31,86,71,279,502,332,493,80,427,138,115,0,52,6264
19,1458,37,334,263,144,80,18,151,189,194,80,72,61,185,75,86,68,54,0,3549
Total,48036,1928,45550,2945,8379,2434,1126,3690,3154,10731,5184,4934,3373,2895,5050,6940,4135,3726,1933,166143