<a href="https://colab.research.google.com/github/guillermodangelo/tesis/blob/master/0_0_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import os
from google.colab import drive

In [3]:
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [16]:
!ls "drive/My Drive/bases_tesis/"

personas_censo_2011.zip

In [0]:
os.chdir('drive/My Drive/bases_tesis/')

In [0]:
p = pd.read_csv('personas_censo_2011.zip', compression='zip', header=0, sep=',', quotechar='"')

In [30]:
p.head()

   DPTO  LOC  SECC  SEGM  ...  PERMI07_1  PERMI07_2 PERMI07_3  PERMI07_4
0     1   20     1     1  ...        NaN        NaN       NaN          0
1     1   20     1     1  ...        NaN        NaN       NaN          0
2     1   20     1     1  ...        NaN        NaN       NaN          0
3     1   20     1     1  ...        NaN        NaN       NaN          0
4     1   20     1     1  ...        NaN        NaN       NaN          0

[5 rows x 26 columns]