<a href="https://colab.research.google.com/github/guillermodangelo/tesis/blob/master/0_0_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import os
from google.colab import drive

In [3]:
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [16]:
!ls "drive/My Drive/bases_tesis/"

personas_censo_2011.zip

In [0]:
os.chdir('drive/My Drive/bases_tesis/')

In [0]:
raw_data = pd.read_csv('personas_censo_2011.zip', compression='zip', header=0, sep=',', quotechar='"')

In [113]:
# toma muestra del 5%
# p = raw_data.sample(frac=0.05, random_state=1)
p = raw_data
p.shape

(3285877, 26)

In [0]:
# filtra por la variable PERMI06: lugar de residencia anterior
# 1 = En otra localidad o paraje de este departamento
# 2 = En otro departamento
# 3 = En otro país

p_migr = p[(p.PERMI06 > 0) & (p.PERMI06 <= 3)]

In [115]:
print(p_migr.shape)

p_migr.PERMI06.value_counts()

(1203772, 26)

2    756007
1    328216
3    119549
Name: PERMI06, dtype: int64

In [0]:
# filtra por la variable PERMI07: lugar de residencia 5 años antes
# 2 = En otra localidad o paraje de este departamento
# 3 = En otro departamento

p_migr = p[(p.PERMI07 == 2) | (p.PERMI06 == 3)]

In [117]:
print(p_migr.shape)

p_migr.PERMI06.value_counts()

(186504, 26)

3    119549
1     64687
2      2268
Name: PERMI06, dtype: int64

In [102]:
p_migr.head(2)

         DPTO  LOC  SECC  SEGM  ...  PERMI07_1  PERMI07_2 PERMI07_3  PERMI07_4
99059       1   20     9    33  ...        NaN        NaN       NaN          0
1611816     3  732    37   974  ...      525.0        NaN       NaN          0

[2 rows x 26 columns]

In [0]:
p['LOC'] = p['LOC'].astype(str)

In [0]:
p['CODLOC'] =  p['DPTO'].astype(str) + p['LOC'].str.zfill(3)