In [1]:
import pandas as pd
from simpledbf import Dbf5
import numpy as np
from os import listdir
from os.path import isfile, join
from functions.cargar_data import *

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [2]:
path = 'datos_ine_96/dbfs/'

In [3]:
# lee datos de Mvdeo.
dbf = Dbf5(path + '01 idgeo 96-04 mvd.dbf')
mvo = dbf.to_dataframe()
print(mvo.shape)
mvo.head(2)

(12165, 4)

     CCOMP96    CCOMP04  REG96A04        MODIF96A04
0  101001001  101001001         0  SIN MODIFICACION
1  101001003  101001003         0  SIN MODIFICACION

In [4]:
mvo.groupby('MODIF96A04').size()

MODIF96A04
FUSION               240
PARTICION           3153
SIN MODIFICACION    8772
dtype: int64

In [5]:
# arregla typo en data de Flores
dbf = Dbf5(path + '07 idgeo 96-04 flores.dbf')
flores = dbf.to_dataframe().rename({'CCOPM04': 'CCOMP04'}, axis=1)
print(flores.shape)
flores.head(2)

(724, 6)

     CCOMP96    CCOMP04  REG96A04        MODIF96A04  CODLOC_96  CODLOC_04
0  701001001  701001001         0  SIN MODIFICACION       7320       7320
1  701001002  701001002         0  SIN MODIFICACION       7320       7320

In [31]:
# lee, enlista y convierte a DF
files = [f for f in listdir(path) if isfile(join(path, f))]
files.remove('01 idgeo 96-04 mvd.dbf')
files.remove('07 idgeo 96-04 flores.dbf')
df_list = [(Dbf5(path + i).to_dataframe()) for i in files]
df_list.append(flores)
dfs = pd.concat(df_list)
print('Con Flores: ', dfs.shape[0])
dfs.head(2)

Con Flores:  48571

      CCOMP96     CCOMP04  REG96A04        MODIF96A04  CODLOC_96  CODLOC_04
0  1001013001  1001013001         0  SIN MODIFICACION      10320    10320.0
1  1001013002  1001013002         0  SIN MODIFICACION      10320    10320.0

In [34]:
# exporta
dfs.to_csv('datos_ine_96/correspondencia_interior.csv', index=False, float_format='%.0f')
mvo.to_csv('datos_ine_96/correspondencia_mvdeo.csv', index=False)