In [1]:
import pandas as pd
import numpy as np
from functions.cargar_data import *

In [2]:
file = 'marcos_censales/MARCO96.xls'
marco96 = pd.read_excel(file)
marco96.head(2)

,DPTO,SECC,SEGM,ZONA,AREA96,LOC,VIV_PARTOC,VIV_PARTDE,VIV_COLECT,HOMBRESPAR,MUJERESPAR,HOMBRESCOL,MUJERESCOL
0,1,1,1,1,1,20,65,22,0,89,70,0,0
1,1,1,1,4,1,20,1,2,0,1,0,0,0

In [3]:
total_personas = marco96.HOMBRESPAR.sum() + marco96.HOMBRESCOL.sum() + marco96.MUJERESPAR.sum() + marco96.MUJERESCOL.sum()
total_personas

3163763

In [4]:
def get_codseg(df):
    codseg = df.DPTO.astype(str) + pad(df, 'SECC', 2) + pad(df, 'SEGM', 3)
    return codseg

In [5]:
def get_codcomp(df):
    codcomp = df.DPTO.astype(str) + pad(df, 'SECC', 2) + pad(df, 'SEGM', 3) + pad(df, 'ZONA', 3)
    return codcomp

In [6]:
marco96['codseg'] = get_codseg(marco96)
marco96['codcomp'] = get_codcomp(marco96)

In [7]:
marco96.head(2)

,DPTO,SECC,SEGM,ZONA,AREA96,LOC,VIV_PARTOC,VIV_PARTDE,VIV_COLECT,HOMBRESPAR,MUJERESPAR,HOMBRESCOL,MUJERESCOL,codseg,codcomp
0,1,1,1,1,1,20,65,22,0,89,70,0,0,101001,101001001
1,1,1,1,4,1,20,1,2,0,1,0,0,0,101001,101001004

In [8]:
personas = ['HOMBRESPAR', 'MUJERESPAR', 'HOMBRESCOL', 'MUJERESCOL']
zonas = marco96.groupby('codcomp').sum()[personas]
zonas['total'] = zonas['HOMBRESPAR'] + zonas['MUJERESPAR'] + zonas['HOMBRESCOL'] + zonas['MUJERESCOL']
zonas.head(2)

            HOMBRESPAR  MUJERESPAR  HOMBRESCOL  MUJERESCOL  total
codcomp
1001003001           6           4           0           0     10
1001003002           8          11           0           0     19

In [9]:
zonas.total.values.sum()

3163763

In [16]:
zonas.index.unique()

Index(['1001003001', '1001003002', '1001003003', '1001003004', '1001003005',
       '1001003006', '1001003007', '1001003008', '1001003009', '1001003010',
       ...
       '913001001', '913001002', '913001003', '913001004', '913001005',
       '913002005', '913002006', '913003004', '913003005', '913003006'],
      dtype='object', name='codcomp', length=46479)

In [10]:
# exporta
interior = pd.read_csv('datos_ine_96/correspondencia_interior.csv',
                       usecols=['CCOMP96', 'CCOMP04', 'REG96A04', 'MODIF96A04'])
mvdeo = pd.read_csv('datos_ine_96/correspondencia_mvdeo.csv')

In [14]:
corresp = pd.concat([mvdeo, interior])
corresp.shape

(60736, 4)