In [1]:
import pandas as pd

In [2]:
filepath = 'datos_pymes/Marco_Mpymes_2020.zip'

pymes = pd.read_csv(filepath, sep='\t')

pymes = pymes.loc[pymes.NOMBRE_DEPARTAMENTO != 'SIN CODIFICAR']

pymes.head(1)

c:\Users\59898\anaconda3\envs\tesis\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,RUT,NOMBRE_EMPRESA,RAZON_SOCIAL,NOMBRE_CALLE,NRO_PUERTA,BIS_EMP,APTO_EMP,NOMBRE_LOCALIDAD,NOMBRE_DEPARTAMENTO,TELEFONO_1,TELECONO_2,NATURALEZA_JURIDICA,SECCION,CIIU,DESCRIPCION CIIU REV. 4,MPYMES,TRAMO_MPYMES
0,216573380014,RENCOI SOCIEDAD ANONIMA,RENCOI SOCIEDAD ANONIMA,HERVIDERO,0.0,NaN,NaN,YOUNG,RIO NEGRO,NaN,9005866.0,SOCIEDAD ANONIMA,G,45101,Importacion de vehiculos automotores: comercio...,1,MICRO EMPRESA

In [3]:
pymes.shape

(190238, 17)

In [4]:
len(pymes.RUT.unique())

190238

In [5]:
pymes.columns

Index(['RUT', 'NOMBRE_EMPRESA', 'RAZON_SOCIAL', 'NOMBRE_CALLE', 'NRO_PUERTA',
       'BIS_EMP', 'APTO_EMP', 'NOMBRE_LOCALIDAD', 'NOMBRE_DEPARTAMENTO',
       'TELEFONO_1', 'TELECONO_2', 'NATURALEZA_JURIDICA', 'SECCION', 'CIIU',
       'DESCRIPCION CIIU REV. 4', 'MPYMES', 'TRAMO_MPYMES'],
      dtype='object')

In [6]:
ct = pd.crosstab(pymes.NOMBRE_DEPARTAMENTO, pymes.SECCION)
ct

SECCION,A,B,C,D,E,F,G,H,I,J,K,L,M,N,P,Q,R,S
NOMBRE_DEPARTAMENTO,,,,,,,,,,,,,,,,,,
ARTIGAS,36,65,279,0,8,97,1175,291,98,45,16,14,100,93,55,54,38,254
CANELONES,225,45,2570,2,69,1360,8557,2189,1014,586,230,393,1211,1332,726,735,419,2096
CERRO LARGO,53,3,275,1,5,109,1415,291,115,38,16,20,157,132,45,97,49,345
COLONIA,121,20,865,3,24,332,3108,835,523,126,54,143,422,455,202,208,149,711
DURAZNO,59,7,204,1,5,101,1135,206,119,45,17,26,95,96,40,90,36,229
FLORES,31,3,99,4,3,63,529,132,59,20,8,19,71,60,39,31,21,115
FLORIDA,53,11,360,0,6,181,1446,346,125,57,19,35,143,146,96,84,46,310
LAVALLEJA,78,12,260,1,5,116,1146,220,135,32,23,26,103,116,56,80,48,269
MALDONADO,118,22,1005,5,25,929,3777,847,1078,241,86,1072,821,1200,391,257,234,1130
MONTEVIDEO,256,23,7583,24,406,3820,24743,12584,3037,4604,1660,5818,8265,4208,2772,3620,1751,6509
PAYSANDU,59,4,611,1,13,263,2439,566,212,95,49,57,269,282,131,170,103,484
RIO NEGRO,31,3,294,0,9,116,1141,389,139,41,18,15,139,213,65,60,48,252
RIVERA,74,4,382,1,12,115,1754,304,126,54,21,36,172,134,91,129,43,356
ROCHA,51,6,447,0,13,182,1720,302,582,68,20,76,135,248,79,79,50,296
SALTO,55,4,522,5,15,205,1898,312,220,82,36,71,207,186,101,142,85,543
SAN JOSE,114,16,591,1,16,287,2198,539,178,84,26,41,178,192,151,132,75,509
SORIANO,93,19,333,2,23,169,1715,482,146,61,29,43,200,193,82,97,76,331
TACUAREMBO,80,7,435,4,5,169,1833,306,204,60,25,24,193,197,82,96,53,379
TREINTA Y TRES,52,5,193,3,5,114,883,194,78,46,11,16,83,154,34,65,28,195

In [7]:
ct['total'] = pymes.groupby('NOMBRE_DEPARTAMENTO').size().values

ct.to_csv('tablas/mypymes.csv')