In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics
import time

# funciones desarrolladas
from functions.cargar_data import *

In [19]:
# carga datos
variables = ['DPTO','PERMI07_2', 'TIPO_VIVIE', 'PERPH02', 'PERPA01', 'PERER02',
             'PERNA01', 'PERMI01',  'PERMI05', 'PERMI05_1', 
             'PERED00','PERED01', 'PERED02', 'PERED02_1', 'PERED02_2', 'PERED02_3',
             'PERED02_4', 'PERED03_R', 'PERED03_1', 'PERED03_2', 'PERED04_R','NIVELEDU_R']


censo = cargar_censo_muestra(1000000, variables)
# censo = cargar_censo()
censo.head()

,DPTO,TIPO_VIVIE,PERPH02,PERPA01,PERER02,PERNA01,PERMI01,PERMI05,PERMI05_1,PERMI07_2,...,PERED02,PERED02_1,PERED02_2,PERED02_3,PERED02_4,PERED03_R,PERED03_1,PERED03_2,PERED04_R,NIVELEDU_R
2021546,8,1,1,1,3,41.0,1,1,0,NaN,...,0,NaN,NaN,NaN,0,0,5,0,2,4
2771602,16,1,1,3,3,2.0,1,1,0,NaN,...,0,NaN,NaN,NaN,0,0,0,0,0,0
331756,1,1,1,1,3,55.0,1,1,0,NaN,...,0,NaN,NaN,NaN,0,0,6,0,1,5
553347,1,1,2,3,3,1.0,1,1,0,NaN,...,0,NaN,NaN,NaN,0,0,0,0,0,0
1595932,3,1,2,1,3,43.0,3,2,20,NaN,...,0,NaN,NaN,NaN,0,0,11,0,1,9

In [20]:
# genera dataframes por tipología
def etiquetar_df_mig(df, ver_dep_ori, var_dep_des, sample_label_4):
    "Corta DFs según origen y destino de la migración"
    # destino Mvdeo.
    df.loc[df[var_dep_des] == 1, 'label'] = 1
    # origen Mvdeo. y destino no Mvdeo.
    df.loc[(df[ver_dep_ori] == 1) & (df[var_dep_des] != 1), 'label'] = 2
    # origen y destino no Mvdeo.
    df.loc[(df[ver_dep_ori] != 1) & (df[var_dep_des] != 1), 'label'] = 3
    # no migrantes con muestreo
    l4 = df.loc[(df[ver_dep_ori].isnull())].sample(sample_label_4)
    df = df.loc[~(df[ver_dep_ori].isnull())]
    df = df.append(l4, ignore_index=True)
    df.loc[df[ver_dep_ori].isnull(), 'label'] = 4

    return df

In [23]:
# aplica función
df = etiquetar_df_mig(censo, 'PERMI07_2', 'DPTO', 30000)

In [24]:
df.groupby('label')['DPTO'].count()

label
1.0    12939
2.0    17620
3.0    14348
4.0    30000
Name: DPTO, dtype: int64

In [25]:
del censo

In [26]:
# la variable DPTO es data leaking

variables = ['TIPO_VIVIE', 'PERPH02', 'PERPA01', 'PERER02',
             'PERNA01', 'PERMI01',  'PERMI05', 'PERMI05_1', 
             'PERED00','PERED01', 'PERED02', 'PERED02_1', 'PERED02_2', 'PERED02_3',
             'PERED02_4', 'PERED03_R', 'PERED03_1', 'PERED03_2', 'PERED04_R','NIVELEDU_R']


df_2 = df.loc[:, variables].fillna(0)

In [27]:
print(df_2.shape)
df_2.head()

(74907, 20)

,TIPO_VIVIE,PERPH02,PERPA01,PERER02,PERNA01,PERMI01,PERMI05,PERMI05_1,PERED00,PERED01,PERED02,PERED02_1,PERED02_2,PERED02_3,PERED02_4,PERED03_R,PERED03_1,PERED03_2,PERED04_R,NIVELEDU_R
0,1,1,1,3,36.0,3,2,3,0,3,0,0.0,0.0,0.0,0,0,4,0,1,4
1,1,1,11,3,21.0,3,2,1,0,3,0,0.0,0.0,0.0,0,0,6,0,1,5
2,1,2,2,3,41.0,3,2,3,0,3,0,0.0,0.0,0.0,0,0,11,0,2,9
3,1,2,7,3,70.0,3,2,4,0,3,0,0.0,0.0,0.0,0,0,6,0,1,5
4,1,2,2,3,37.0,3,2,3,0,3,0,0.0,0.0,0.0,0,0,4,0,1,4

In [28]:
data = np.array(df_2.values)

In [29]:
y = np.array(df.loc[:,'label'])

In [30]:
start = time.time()

X_train, X_test, y_train, y_test = train_test_split(data, y, random_state=0)

model = SVC(kernel='rbf', C=1)
model.fit(X_train, y_train)

end = time.time()
print(end - start)
# demoró 1 hs con todo el dataset

351.5140972137451

In [31]:
start = time.time()

y_predicted = model.predict(X_test)

end = time.time()
print(end - start)
# demoró 7 minutos

43.22319960594177

In [32]:
print("Classification report for %s" % model)
print
print(metrics.classification_report(y_test, y_predicted))
print("Confusion matrix")
print(metrics.confusion_matrix(y_test, y_predicted))

Classification report for SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)
              precision    recall  f1-score   support

         1.0       0.83      0.37      0.51      3178
         2.0       0.53      0.48      0.51      4436
         3.0       0.43      0.58      0.49      3614
         4.0       0.82      0.92      0.87      7499

    accuracy                           0.66     18727
   macro avg       0.65      0.59      0.59     18727
weighted avg       0.68      0.66      0.65     18727

Confusion matrix
[[1164  579  817  618]
 [  35 2138 1736  527]
 [ 156 1015 2103  340]
 [  54  281  254 6910]]