In [14]:
import pandas as pd
from simpledbf import Dbf5
import numpy as np
from os import listdir
from os.path import isfile, join

from functions.cargar_data import *

In [6]:
path = 'datos_ine_96/dbfs/'

In [63]:
dbf = Dbf5(path + '01 idgeo 96-04 mvd.dbf')
mvo = dbf.to_dataframe()
print(mvo.shape)
mvo.head(2)

(12165, 4)

     CCOMP96    CCOMP04  REG96A04        MODIF96A04
0  101001001  101001001         0  SIN MODIFICACION
1  101001003  101001003         0  SIN MODIFICACION

In [64]:
mvo.groupby('MODIF96A04').size()

MODIF96A04
FUSION               240
PARTICION           3153
SIN MODIFICACION    8772
dtype: int64

In [73]:
dbf = Dbf5(path + '07 idgeo 96-04 flores.dbf')
flores = dbf.to_dataframe().rename({'CCOPM04': 'CCOMP04'}, axis=1)
print(flores.shape)
flores.head(2)

(724, 6)

     CCOMP96    CCOMP04  REG96A04        MODIF96A04  CODLOC_96  CODLOC_04
0  701001001  701001001         0  SIN MODIFICACION       7320       7320
1  701001002  701001002         0  SIN MODIFICACION       7320       7320

In [74]:
files = [f for f in listdir(path) if isfile(join(path, f))]
files.remove('01 idgeo 96-04 mvd.dbf')
files.remove('07 idgeo 96-04 flores.dbf')
files

['10 idgeo 96-04 maldonado.dbf',
 '17 idgeo 96-04 soriano.dbf',
 '18 idgeo 96-04 tacuarembo.dbf',
 '06 idgeo 96-04 durazno.dbf',
 '03 idgeo 96-04 canelones.dbf',
 '02 idgeo 96-04 artigas.dbf',
 '13 idgeo 96-04 rivera.dbf',
 '14 idgeo 96-04 rocha.dbf',
 '05 idgeo 96-04 colonia.dbf',
 '16 idgeo 96-04 san jose.dbf',
 '08 idgeo 96-04 florida.dbf',
 '19 idgeo 96-04 treinta y tres.dbf',
 '15 idgeo 96-04 salto.dbf',
 '12 idgeo 96-04 rio negro.dbf',
 '09 idgeo 96-04 lavalleja.dbf',
 '04 idgeo 96-04 cerro largo.dbf',
 '11 idgeo 96-04 paysandu.dbf']

In [61]:
df_list = [(Dbf5(path + i).to_dataframe()) for i in files]

In [66]:
dfs = pd.concat(df_list)
dfs.head(2)

      CCOMP96     CCOMP04  REG96A04        MODIF96A04  CODLOC_96  CODLOC_04
0  1001013001  1001013001         0  SIN MODIFICACION      10320    10320.0
1  1001013002  1001013002         0  SIN MODIFICACION      10320    10320.0

In [52]:
dfs.to_csv('datos_ine_96/correspondencia_interior.csv', index=False)