In [2]:
import pandas as pd
import numpy as np

# funciones desarrolladas
from functions.cargar_data import *

In [7]:
cols = ['DPTO', 'PERNA01']
censo =  cargar_censo_vars(cols)
censo.head(2)

   DPTO  PERNA01
0     1       22
1     1       84

In [14]:
emedia = censo.groupby('DPTO').mean('PERNA01')
emedia

        PERNA01
DPTO
1     37.481048
2     33.966911
3     35.406640
4     35.614749
5     37.632420
6     35.093021
7     37.060080
8     36.720226
9     37.935153
10    35.050749
11    34.562193
12    34.173249
13    33.981879
14    36.931442
15    33.297819
16    35.624520
17    35.764365
18    35.000344
19    35.692733