# Calcula vecindad entre departamentos

Se calcula la vecindad y el largo de la frontera compartida entre departamentos

In [1]:
import pandas as pd
import fiona
from shapely.geometry import shape, mapping
import itertools
from collections import OrderedDict

In [2]:
# carga la capa como un iterable
polys = fiona.open("capas/ine_deptos_generalizada.gpkg")

In [3]:
def shared_boundary(file):
    "Calculo de vecindad y largo de fronteras"
    polys = fiona.open(file)
    shared = []

    for pol1, pol2 in itertools.combinations(polys, 2):
        geompol1 = shape(pol1['geometry'])
        geompol2 = shape(pol2['geometry'])
        # Si se tocan, calcula largo
        if geompol1.touches(geompol2):
            length = shape(mapping(geompol1.intersection(geompol2))).length
            shared.append([tuple(pol1['properties'].items())[0], tuple(pol2['properties'].items())[0], int(length)])
    
    # recupera valores mediante list comprehension
    shared = list(zip([x[0][1] for x in shared],
                  [x[1][1] for x in shared],
                  [x[2] for x in shared]                  
                 ))
    # convierte a pandas dataframe
    df = pd.DataFrame(shared, columns=['poly1', 'poly2', 'length']).sort_values(by=['poly1', 'poly2'])
    # elimina los registros que se tocan en un sólo punto (largo=0)
    df = df.loc[df.length > 0].reset_index(drop=True)

    return df

In [4]:
# ruta a la capa de departamentos
file="capas/ine_deptos_generalizada.gpkg"

# aplica función
vecinos = shared_boundary(file)

# renombra variables
vecinos.rename({'poly1': 'dep1', 'poly2': 'dep2', 'length': 'largo_limite'}, inplace=True, axis=1)
print(vecinos.shape)
vecinos.head()

(39, 3)
<ipython-input-3-1261af6b548e>:6: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for pol1, pol2 in itertools.combinations(polys, 2):

   dep1  dep2  largo_limite
0     3     1         60107
1     3     8         94070
2     3     9         51167
3     3    10         24113
4     3    16         48749

In [5]:
def codificar(df, var1, var2):
    "Función para codificar"
    df_coded = df.copy()
    df_coded['cod'] = (df_coded[var1].astype(str) + df_coded[var2].astype(str).str.zfill(2)).astype(int)
    
    return df_coded

# codifica
df1 = codificar(vecinos, 'dep1', 'dep2')
df2 = codificar(vecinos, 'dep2', 'dep1')
df2.columns = ['dep2', 'dep1', 'largo_limite', 'cod']

In [6]:
# hace un append de ambos DF
deptos_vecinos = df1.append(df2).sort_values(['dep1', 'dep2']).reset_index(drop=True)

In [7]:
print(deptos_vecinos.shape)
deptos_vecinos.head()

(78, 4)

   dep1  dep2  largo_limite  cod
0     1     3         60107  103
1     1    16          5400  116
2     2    15        197272  215
3     3     1         60107  301
4     3     8         94070  308

In [8]:
# exporta
deptos_vecinos.to_csv('tablas/deptos_vecinos.csv', index=False)