## Escenarios de migración interna

In [1]:
import pandas as pd
import numpy as np
    
# funciones desarrolladas
from functions.agrupar_dfs_censo import *
from functions.cargar_data import *
from functions.impresion import *

In [3]:
# carga datos diádicos
dd_deptos = pd.read_csv('tablas/dd_deptos.csv')
dd_deptos.head(2)

,cod,depto_origen,depto_destino,personas_mig,personas_mig_100k,pob_origen,pob_destino,dist,pbi_origen,pbi_porcen_ori,pbi_destino,pbi_porcen_des,largo_limite,dummy_limit,empresas_origen,empresas_destino,log_pbi_destino,log_dist,nom_depto_orig,nom_depto_des
0,102,1,2,914,891,1318755,73377,610726,465848031,50.3,14214980,1.5,NaN,False,3124,55,16.469807,13.322404,MONTEVIDEO,ARTIGAS
1,103,1,3,33127,0,1318755,520173,22544,465848031,50.3,86306492,9.3,60107.0,True,3124,563,18.273415,10.023224,MONTEVIDEO,CANELONES

In [ ]:
dd_deptos['pob_origen'] = dd_deptos['pob_origen']*1.05