In [4]:
import pandas as pd
import geopandas as gpd
import os
import numpy as np
import requests
import urllib
import json
import getpass

In [5]:
# carga capa de centros medios de población
cp = gpd.read_file('https://raw.githubusercontent.com/guillermodangelo/tesis/master/capas/centro_poblacion.gpkg')

cp.head()

   DEPTO                        geometry
0      1  POINT (575497.000 6141786.000)
1      2  POINT (517717.000 6636093.000)
2      3  POINT (587353.000 6159278.000)
3      4  POINT (777711.000 6409999.000)
4      5  POINT (431654.000 6211872.000)

In [6]:
# obtiene coordenadas en EPSG 4326
lon = cp.geometry.to_crs(epsg=4326).x
lat = cp.geometry.to_crs(epsg=4326).y
cp_repro = pd.concat( [ pd.DataFrame( list(lat), columns=['lat'] ), pd.DataFrame( list(lon), columns=['lon'] ) ], axis=1, sort=False)

# concatena en un sólo string
cp_repro['latlon'] = cp_repro.apply(lambda x:'%s,%s' % (x['lat'],x['lon']),axis=1)

# concatena ambos df
df_cp = pd.concat([cp, cp_repro], axis=1, ignore_index=False)
df_cp.head()

,DEPTO,geometry,lat,lon,latlon
0,1,POINT (575497.000 6141786.000),-34.863473,-56.174030,"-34.86347311448007,-56.17403019571399"
1,2,POINT (517717.000 6636093.000),-30.407062,-56.815547,"-30.407062416732217,-56.81554727891256"
2,3,POINT (587353.000 6159278.000),-34.704806,-56.046153,"-34.70480623405611,-56.04615274218908"
3,4,POINT (777711.000 6409999.000),-32.412531,-54.047130,"-32.412530637702794,-54.04713015664623"
4,5,POINT (431654.000 6211872.000),-34.231989,-57.742109,"-34.23198949912197,-57.74210900659811"

In [7]:
# realiza el producto cartesiano para obtener todas las combinaciones posibles de localidades
df_cp_coords = df_cp[['DEPTO', 'latlon']]
df_cp_coords.insert(2, "key", 0, True) 

df_pc = df_cp_coords.merge(df_cp_coords, on='key', how='outer').drop(columns='key')

dict_rename = {'DEPTO_x': 'cod_ori',
               'DEPTO_y': 'cod_des',
               'latlon_x': 'latlon_ori',
               'latlon_y': 'latlon_des'}

df_pc.rename(columns=dict_rename, inplace=True)

# elimina misma cod origen-destino
df_pc = df_pc[df_pc['cod_ori'] != df_pc['cod_des']]

# concatena en un código
df_pc['cod'] = (df_pc['cod_ori'].astype(str).str.zfill(2) + 
                df_pc['cod_des'].astype(str).str.zfill(2)).astype('int')

print(df_pc.shape[0])
df_pc.head(5)

342

,cod_ori,latlon_ori,cod_des,latlon_des,cod
1,1,"-34.86347311448007,-56.17403019571399",2,"-30.407062416732217,-56.81554727891256",102
2,1,"-34.86347311448007,-56.17403019571399",3,"-34.70480623405611,-56.04615274218908",103
3,1,"-34.86347311448007,-56.17403019571399",4,"-32.412530637702794,-54.04713015664623",104
4,1,"-34.86347311448007,-56.17403019571399",5,"-34.23198949912197,-57.74210900659811",105
5,1,"-34.86347311448007,-56.17403019571399",6,"-33.29103587835989,-56.27098299307005",106

In [14]:
# matriz de distancia entre capitales departamentales de departamentos

# define la función obtenerDistancia que usa la API Distance Matrix de Google
def obtenerDist(ori, dest, API_KEY):
    '''
    Esta funcion devuelve distancia en km entre un o varios par(es) de coordenadas
    geográficas, utilizando la API de Google Distance Matrix.
    '''
    APIurl = """https://maps.googleapis.com/maps/api/distancematrix/json?
                units=metric&mode=walking&origins={}
                &destinations={}&key={}""".format(ori, dest, API_KEY)
    
    # Obtener la respuesta y cargar la representacion en un string
    response = requests.get(APIurl)
    geodataString = response.text
    geodata = json.loads(geodataString)
    # si la API no devulve resultados, la distancia será 'None'
    if geodata['rows'][0]['elements'][0]['status']=='ZERO_RESULTS':
        distancia = None
    else:
        distancia = geodata['rows'][0]['elements'][0]['distance']['value']
    return distancia

In [15]:
# setea la API KEY
API_KEY = getpass.getpass()

# ordena y resetea el índice
df_pc.sort_values(by=['cod_ori', 'cod_des'], inplace=True)
df_pc.reset_index(drop=True, inplace=True)

print(df_pc.shape[0])
df_pc.head(3)

 ·······································

342

,cod_ori,latlon_ori,cod_des,latlon_des,cod
0,1,"-34.86347311448007,-56.17403019571399",2,"-30.407062416732217,-56.81554727891256",102
1,1,"-34.86347311448007,-56.17403019571399",3,"-34.70480623405611,-56.04615274218908",103
2,1,"-34.86347311448007,-56.17403019571399",4,"-32.412530637702794,-54.04713015664623",104

In [16]:
df_pc.shape[0]

342

In [29]:
# prueba con 1 caso
obtenerDist( df_pc.latlon_ori[4] , df_pc.latlon_des[4] , API_KEY)

198970

In [18]:
# son 342 díadas de centros de población
# for loop para obtener una lista con las distancias entre cp
# aplica la función obtenerDistancia para combinaciones de cp
n_iter = df_pc.shape[0]
distancias = [obtenerDist(df_pc.latlon_ori[x] , df_pc.latlon_des[x] , API_KEY) for x in range(n_iter)]

In [20]:
print(len(distancias))

342

In [28]:
dist_series = pd.Series(distancias)
df_pc['distancia'] = dist_series.values
df_pc.head()

,cod_ori,latlon_ori,cod_des,latlon_des,cod,distancia
0,1,"-34.86347311448007,-56.17403019571399",2,"-30.407062416732217,-56.81554727891256",102,610726
1,1,"-34.86347311448007,-56.17403019571399",3,"-34.70480623405611,-56.04615274218908",103,22544
2,1,"-34.86347311448007,-56.17403019571399",4,"-32.412530637702794,-54.04713015664623",104,393703
3,1,"-34.86347311448007,-56.17403019571399",5,"-34.23198949912197,-57.74210900659811",105,172773
4,1,"-34.86347311448007,-56.17403019571399",6,"-33.29103587835989,-56.27098299307005",106,198970

In [30]:
# guarda
df_pc.to_csv('tablas/df_distancias_centro_poblacion.csv', index=False)